# NoC Verification

> TODO: xsim testbenches and results per module
